.navbar{
    width: 95%;
    background-color: #046d04;
    
    margin-left: 1%;
    align-items: center;
    padding: 7px;
    margin-top: 3%;
    border-radius: 15px;
    position:absolute;
    box-shadow: 7px 7px 15px black;
}
.logo{
    background-color: black;
    width: 15%;
    height: 15%;
    border-radius: 15px;
    text-align: center;
    
    margin-left: 3%;
    margin-top: 6px;
    margin-bottom: 6px;
    float: left;
    box-shadow: 7px 7px 15px black;
    

}
.nomeLogo{
    color:rgb(255, 255, 255);
    padding: auto;
    text-align: center;
    
}
.pesquisa{
    margin-left: 25%;
    margin-top: 1%;
    position: absolute;
    

}
.campoPesquisa{
    width: 600px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 7px 7px 15px black;
}
.botaoPesquisa{
    width: 60px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 7px 7px 15px black;
}
.login{
float: right;
margin-right: 4%;
margin-top: 1%;

}
.botaoLogin{
width:80px;
height: 50px;
box-shadow: 7px 7px 15px black;
border-radius: 15px;
}
.container{
   margin-top: 1%;
    width: 97%; 
    padding-top: 15%;
    
   text-align: center;
   margin-left: 1%;

}
.clear{
    clear: both;
}
.botaoRedondo{
    width: 15%;
    height: 150px;
    border: black solid 2px;
    border-radius: 100%;
    margin-bottom: 30%;
    padding: 10%;
    margin-inline-start: 15px;
}